@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Black+Han+Sans&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Albert Sans', 'Noto Sans KR', sans-serif;
}

body {
  background: linear-gradient(to bottom, #f5ffed, #e8f9db);
}

.wave-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  pointer-events: none;
}
