<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>홈</title>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="map"></div>
    <!-- 컴포넌트들 -->
    <div id="searchBox"></div>
    <div id="routeModal"></div>
    <div id="arrivalModal"></div>
    <div id="footer"></div>
  
    <!-- 스크립트 -->
  <script src="../js/include.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=L3RMA32ZfO5WRNvNlGBCBKuXpGjYV3dlmWlETWb0"></script>
  <script src="../js/map.js"></script>
</body>
</html>