<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Onboarding</title>
  <link rel="stylesheet" href="../css/onboarding.css">
</head>
<body>
  <div class="content">
    <div class="logo-container">
      <div class="logo-bg"></div>
      <img class="logo" src="../assets/images/ttikkaT.png" alt="Alien Logo">
    </div>
    <h1 class="title">띠까마까</h1>
    <h2 class="subtitle">RUN OR NOT</h2>
    <a class="btn btn-primary" href="signup.html">새로 시작하기</a>
    <a class="btn btn-secondary" href="signin.html">로그인</a>
  </div>
</body>
</html>